nav{
    height: 8vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5vw;
    color: black;
    width: 100%;
    position: relative;
}
img{
    height: 4.5vh;
}
nav input{
    height: 4.3vh;
    background-color: transparent;
}

.logo-laranja{
    color: #F15927;
}
