/* Configuração inicial */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  

  .sidebar {
    transition: width 0.3s ease;
    overflow: hidden;
  }


  .sidebar .menu {
    list-style: none;
    padding: 0;
   
  }
  

  .sidebar .menu li a {
    text-decoration: none;
    display: flex;
    transition: background 0.2s ease;
  }

